@import "tailwindcss";

:root {
  --background: #f5f5f7;
  --foreground: #313131;
  --primary: #1d1d1f;
  --secondary: #6e6e73;
  --accent: #0066cc;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}
